# DATABASE CONFIG
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dears_db

# Dispatcher HTTP
DISPATCHER_HOST=0.0.0.0
DISPATCHER_PORT=8000

// RPC service URLs
RPC_POLICE_URL=http://localhost:9001
RPC_FIRE_URL=http://localhost:9002
RPC_MEDICAL_URL=http://localhost:9003

# RPyC server (where services call back)
RPC_CALLBACK_HOST=0.0.0.0
RPC_CALLBACK_PORT=18000

// RPC settings
RPC_TIMEOUT_SEC=5
RPC_RETRIES=2

//LOG_LEVEL
LOG_LEVEL=DEBUG